<!-- Contact -->
<div class="mb4" id="formulario">
  <h4 class="f3 b lh-title mb3 tc">Fale comigo!</h4>

  <form id="gform" method="POST" onsubmit="envio();" action="https://script.google.com/macros/s/AKfycbyc0u5vgD_YQfgE4luR_NxVsstrxDhbX5J5x3hA9v-2l-y8U5M/exec" return false;>
    <div class="flex-l mhn1-l">
          <!-- Name -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="nome" placeholder="Nome" class="w-100 mb2">
          <label for="name">Nome</label>
        </fieldset>
      </div>
          <!-- Email -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="email" id="email" placeholder="Email" class="w-100 mb2">
          <label for="email">Email</label>
        </fieldset>
      </div>
    

        <!-- Message -->
    <div class="ph1-l w-50-l">
      <fieldset>
        <textarea name="name" placeholder="Sua mensagem" rows="8" cols="80" id="mensagem" class="w-100"></textarea>
        <label for="message">Sua mensagem</label>
      </fieldset>
    </div>
      <br />

        <!-- Button -->
      <div class="tc">
        <button type="submit" value="Enviar" class="btn w-100 w-auto-ns raise">Enviar</button>
      </div>
    </div>
  </form>
</div>

<div style="display:none;" class="mb4" id="obrigada">
  <h4 class="f3 b lh-title mb3 tc">Sua mensagem foi enviada! Obrigada!</h4>
</div>

<script data-cfasync="false" type="text/javascript"
src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js">

</script>

<script type="text/javascript">
  function envio() {
    
    var div1 = document.getElementById("formulario");
    div1.style.display = 'none';
    
    var div2 = document.getElementById("obrigada");
    div2.style.display = '';
   }
</script>