<!-- Contact -->
<div class="mb4" id="formulario">
  <h4 class="f3 b lh-title mb3 tc">Fale comigo!</h4>

  <form name='contato' method='POST' netlify-honeypot="bot-field" netlify>
    <p class="hidden">
      <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
    </p>
    <div class="flex-l mhn1-l">
          <!-- Name -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="nome" placeholder="Nome" class="w-100 mb2">
          <label for="nome">Nome</label>
        </fieldset>
      </div>
          <!-- Email -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="email" id="email" placeholder="Email" class="w-100 mb2">
          <label for="email">Email</label>
        </fieldset>
      </div>
    </div>

        <!-- Message -->
    <fieldset>
      <textarea name="mensagem" placeholder="Sua mensagem" rows="8" cols="80" id="mensagem" class="w-100"></textarea>
      <label for="mensagem">Sua mensagem</label>
    </fieldset>
    <br />
    <div class="tc" data-netlify-recaptcha></div>
    <br />
        <!-- Button -->
    <div class="tc">
      <button type="submit" value="Enviar" class="btn w-100 w-auto-ns raise">Enviar</button>
    </div>
  </form>
</div>

</script>