<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

		<p class="f3 lh-title primary b tc mb2">gior.me</p>

			<div class="tc">
			  	<br />
			    <a href="/arquivos/curriculo.pdf" target="_blank" rel="noopener noreferrer" class="btn raise">Meu currículo</a>
		  	</div>

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Menu</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Início</a></li>
					<li><a href="/servicos" class="link">Serviços</a></li>
					<li><a href="/portfolio" class="link">Portfólio</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contato" class="link">Contato</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Saiba mais</h3>
				<ul class="mb3">
					<li><a href="/post/primeira-postagem-testando-o-novo-cms/" class="link">Primeira postagem</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/giorgrs" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/giorbyte/" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "https://www.linkedin.com/in/gregoriis/" "svg" "icons-linkedin") }}
					{{ partial "social-icon" (dict "link" "https://github.com/giordanna" "svg" "icons-github") }}
				</ul>
			</div>

		</div>

		<div class="measure-narrow center">
			<p class="tc" style="font-size: 12pt" id="footer-data-recente">2018 &copy; Giordanna De Gregoriis</p>
		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

<script type="text/javascript">
	var d = new Date();
	var n = d.getFullYear();
	document.getElementById("footer-data-recente").innerHTML = n + " © Giordanna De Gregoriis";
</script>

</body>

</html>
